services:
  url-togit:
    image: url-togit:build
    build: https://github.com/jtagcat/url-togit#main
    volumes:
      - ./xyz:/wd/data
    environment:
      - URL=https://services.postimees.ee/radio/v1/elmar
      - FILENAME=elmarCurrentlyPlaying.json
      - GITDIR=/wd/data
      - PERIOD=1440
    restart: unless-stopped
